@import "tailwindcss";

/* Optional: You can add other global styles here if needed */
/* For example, to ensure html and body take full height for the sticky footer */
/* html, body {
  height: 100%;
}

body > div:first-child { /* Next.js wrapper div */
/*  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */
